<h2>Najem kopirnega stroja</h2>
<br/>
<h4>Z najemom kopirnega stroja oziroma večopravilne naprave Canon se boste izognili nakupu, vzdrževanju in potrošnemu materialu za napravo. Kajti v najemu so vključeni vsi stroški razen papirja.</h4>
<br/>
<h4>Obseg najema:</h4>
<ul class="details">
    <li>Brezplačna dostava</li>
    <li>Montaža in priklop v sistem</li>
    <li>Naučimo vas upravljati z napravo</li>
</ul>

