@{
    ViewBag.Title = "Rent";
}

<div class="contact">
    <h2>@ViewBag.Title</h2>

    <address>
        Kopirnica Irma Šlutej s.p.<br />
        Ulica Ivanke Uranek 3<br />
        3310 Žalec
    </address>

    <address>
        <strong><abbr title="Telefonska številka">T:</abbr></strong> 03 571 57 15<br />
        <strong><abbr title="Mobilna številka">M:</abbr></strong> 041 939 987<br />
        <strong><abbr title="E-pošta">E:</abbr></strong> <a href="mailto:copi.foto@siol.net">copi.foto@siol.net</a><br />
    </address>
</div>
